@import url("resetAndRoot.css");


.menuDash {
  flex-direction: row-reverse;
}

/* Header */
.navMenuDash {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logoffDash {
  text-decoration: none;
  color: var(--color-standard);
  font-size: 16px;
  font-family: var(--font-standard);
  font-weight: var(--wght-bold);
  gap: 20px;
  margin-right: 20px;
}

.logoffDash:hover {
  /* scale: 1.2; */
  padding: 8px;
  color: var(--color-white);
  font-weight: var(--wght-extra-bold);
  background-color: var(--color-red);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
}

.logoMenuBoxDash {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.saudacaoDash {
  font-size: var(--font-size-title-2);
  color: var(--color-standard);
  margin: 0;
}

.logoAtma {
  width: 150px;
  height: auto;
}

.cabecalhoSaudacaoDash {
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

/* Fim do Header */

.principal {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 150px 16px 64px 16px;
}

.tableDash {
  width: 100%;
  overflow-y: auto;
  margin: 25px 0;
  border: 1px solid var(--color-grey);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchTable {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0px 16px 5%;
  align-self: flex-start;
  gap: 32px;
}

.titleTableView {
  width: 280px;
  font-size: var(--font-size-title-2);
  color: var(--color-standard);
}

.buscador {
  width: 60%;
  min-width: 320px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 16px;
}

.searchTableInput {
  width: 60%;
  min-width: 150px;
  height: 56px;
  padding: 5px;
  font-size: 16px;
  font-weight: var(--wght-bold);
  border: 5px solid var(--color-green-1);
  box-shadow: var(--color-green-2) -10px -5px 0 0;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  outline-color: transparent;
}

.searchTableInput:focus {
  border: 8px solid var(--color-green-2);
  box-shadow: none;
}

.btnStand {
  width: auto;
  min-width: 150px;
  padding: 10px;
  font-size: 16px;
  font-weight: var(--wght-bold);
  color: var(--color-white);
  background-color: var(--color-green-1);
  border: none;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  margin: 16px 0;
}

.btnStand:hover {
  cursor: pointer;
  background-color: var(--color-green-2);
}

.btnStand:disabled {
  cursor: not-allowed;
  background-color: var(--color-green-2);
}

.tableContainer {
  width: 90%;
  min-width: 320px;
  max-height: 400px;
  overflow-y: auto;
  margin: 25px 0;
  border: 1px solid var(--color-grey);
  background-color: var(--color-white);
}

.tableView {
  width: 100%;
  border-collapse: collapse;
  border: solid 3px var(--color-gray);
  font-size: var(--font-size-text-2);
  vertical-align: middle;
  /*height: 30vh;*/
  padding-left: 16px;
}

.tableCabecalho {
  width: 100%;
  height: 32px;
  background-color: var(--color-standard);
  color: var(--color-white);
  border-collapse: collapse;
  border: solid 3px var(--color-gray);
  text-align: left;
}

.tableCabecalho th {
  width: auto;
  height: auto;
  border-collapse: collapse;
  text-align: left;
  padding: 16px;
}

.tableBody {
  width: 100%;
  border-collapse: collapse;
  border: solid 3px var(--color-gray);
  font-size: var(--font-size-text-2);
  text-align: left;
  vertical-align: middle;
  border: solid 3px var(--color-gray);

}

.tableBody tr {
  width: 100%;
  color: var(--color-standard);
  padding: 10px;
  border-collapse: collapse;
  border: solid 3px var(--color-gray);


}

.tableBody td {
  width: auto;
  height: auto;
  border-collapse: collapse;
  padding: 16px;
}

.btnTabela {
  width: clamp(3rem, 2.8846rem + 0.5128vw, 3.5rem);
  height: auto;
  aspect-ratio: 1/1;
  border: none;
}

.btnTabela:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}

.btnTabela:disabled {
  img {
    -webkit-filter: brightness(110%) contrast(110%) grayscale(100%);
    filter: brightness(110%) contrast(110%) grayscale(100%);
  }
}

.btnSwitchTable {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 32px 0;
  gap: 16px;
}



@media screen and (max-width: 768px) {
  .cabecalhoSaudacaoDash {
    display: flex;
  }

  .principal {
    padding: 96px 16px 64px 16px;
  }

  .searchTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin: 0;
  }
}

.addNewBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 96px 16px;
}

.addNew {
  width: 60%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  gap: 16px;
}

.blocoAddNew {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  gap: 8px;
  margin: 8px 0;
}

.blocoAddNew label {
  font-size: var(--font-size-text-1);
  color: var(--color-standard);
}

.inputFormDash {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 16px;
  font-weight: var(--wght-bold);
  border: 5px solid var(--color-green-1);
  box-shadow: var(--color-green-2) -10px -5px 0 0 ;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  outline-color: transparent;
}

.inputFormDash:focus {
  border: 8px solid var(--color-green-2);
  box-shadow: none;
}

.btnAddNew {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  font-weight: var(--wght-bold);
  color: var(--color-white);
  background-color: var(--color-green-1);
  border: none;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  margin: 16px 0;
}

.btnAddNew:hover {
  cursor: pointer;
  background-color: var(--color-green-2);
}

.modal {
  position: absolute;
  inset: 40px;
  border: 1px solid #555;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  background-color: rgba(85, 85, 85, 0.8);
}
